.warning{
    font-weight: bold;
}
.consejo{
    background-color: #f9d99984;
    border-radius: 25px;
    border: 2px solid #fac55c;
}
.textoArriba{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
.textoAbajo{
    font-size: 20px;
    text-align: center;
}
.chatMediaQuery{
    width: 80%;
}

@media screen and (max-width: 1450px) {
    .textoArriba{
        font-size: 16px;
    }
    .textoAbajo{
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    .chatMediaQuery{
        width: 100%;
    }
    .textoArriba{
        font-size: 14px;
    }
    .textoAbajo{
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    .iconRightMediaQuery{
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .consejo{
        padding: 2%;
    }
    .chatMediaQuery{
        width: 100% !important;
        height: 90%;
        margin: 0%;
        padding: 0%;
    }
    .layoutChatYAviso{
        padding: 0%;
        margin: 0%;
    }
    .textoArriba{
        font-size: 12px;
    }
    .textoAbajo{
        font-size: 10px;
    }
    .chatLayout {
        display: inline;
        justify-content: center;
        align-items: center;
        padding: 0%;
        margin: 0%;
    }
    :root {
        --ancho-boton: 110px;
    }
    .sendButton{
        width: var(--ancho-boton);
        height: 50% !important;
        font-size: 13px;
        flex: 0 0 auto;
        margin-left: calc(50% - var(--ancho-boton)/2);
    }
    .inputChat{
        width: 100%;
        height: 50% !important;
        flex: 1;
    }
    .verticalLayout{
        padding: 0%;
        margin: 0%;
    }
    .avisoLayout{
        padding: 0%;
    }
}
