.warning{
    font-weight: bold;
}
.consejo{
    background-color: #f9d99984;
    
    border-radius: 25px;
    border: 2px solid #fac55c;
}
.textoArriba{
    font-weight: bold;
}

@media (max-width: 1600px) {
    .textoArriba{
        font-size: 16px;
    }
    .textoAbajo{
        font-size: 14px;
    }
}

